.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.item {
  padding: 15px;
  border-radius: 5px;
  background: linear-gradient(to right, #403a3e, #be5869);
}

.footer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.id {
  color: rgb(218 218 218);
  font-weight: bold;
}

.name {
  text-transform: capitalize;
  font-weight: 400;
  font-size: 18px;
  color: white;
}

.containerType {
  display: inline-flex;
  gap: 8px;
}

.types {
  display: inline-flex;
  width: 100px;
  padding: 1px;
  border-radius: 3px;
  justify-content: center;
  font-size: 14px;
  font-weight: 400;
  text-transform: capitalize;
  color: white;
}

.shadowdropcenter:hover {
  -webkit-animation: shadow-drop-center 0.4s
    cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: shadow-drop-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes shadow-drop-center {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
  }
}

@keyframes shadow-drop-center {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
  }
}

.slideFwdTop:hover {
  -webkit-animation: slide-fwd-top 0.45s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-fwd-top 0.45s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-fwd-top {
  0% {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
  }
  100% {
    -webkit-transform: translateZ(160px) translateY(-20px);
    transform: translateZ(160px) translateY(-20px);
  }
}

@keyframes slide-fwd-top {
  0% {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
  }
  100% {
    -webkit-transform: translateZ(160px) translateY(-20px);
    transform: translateZ(160px) translateY(-20px);
  }
}
